{% extends "main.twig" %}

{% block title %}Current EPGP Standings{% endblock %}

{% block content %}
    <div class="page-header">
        <h1><i class="fas fa-chart-line"></i> Current EPGP Standings</h1>
    </div>
    <table id="current-epgp-standings" class="table table-dark table-striped text-light table-hover" style="width:100%;">
        <thead class="text-dark bg-light">
            <tr>
                <th>Character</th>
                <th>Class</th>
                <th>Role</th>
                <th>Guild</th>
                <th>Last Raid</th>
                <th>Effort Points</th>
                <th>Gear Points</th>
                <th>Current Priority</th>
            </tr>
        </thead>
        <tbody>
            {% for character in characters %}
                <tr>
                    <td>{{ character.getName }}</td>
                    <td class="{{ character.getClass|lower }}">{{ character.getClass }}</td>
                    <td>{{ character.getRole }}</td>
                    <td>{{ character.getGuild }}</td>
                    <td>TBA</td>
                    <td>TBA</td>
                    <td>TBA</td>
                    <td class="font-weight-bold">TBA</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
